@{
	ViewData["Title"] = "Топ предложения";
}

<div class="holderTopOffer">
	<div class="indicator">
		<div class="displayerIndicator">Топ Предложения!
			<img src="https://i.ibb.co/BsbtxNS/output-onlinepngtools.png"/>
		</div>
	</div>
	<div class="TopPredlojenieto">
		<div class="borderMax">
			<img class="imgTop" src="https://i.ibb.co/DgR4PgX/House-PNG-Clip-Art-2210.png"/>
			
		</div>
		<div class="textRight"> 
			<span class="oldPrice">ОРИГИНАЛНА ЦЕНА : <span class="priceColor">10 0000 000лв.</span></span>
			
			<br />
			ЦЕНА С ОТСТЪПКА : <span class="priceColor1">10 0000 000лв.</span>
		</div>
	</div>
</div>