@{
	ViewData["Title"] = "Топ предложения";
}

<div class="holderTopOffer">
	<div class="indicator">
		<div class="displayerIndicator">Топ Предложения!
			<img src="https://i.ibb.co/BsbtxNS/output-onlinepngtools.png"/>
		</div>
	</div>
	<div class="TopPredlojenieto">
		<div class="textLeft">
			<span>
				Град: <span class="txtBold">София</span>
			</span>
			<br />
			<span>
				Улица: <span class="txtBold">Петър Берон 441</span>
			</span>
			<span>
				<br />
				Описание: 
				<li>Гаражи : <span class="txtBold">1</span></li>
				<li>Стай : <span class="txtBold">5</span</li>
				<li>Тераса : <span class="txtBold">1</span</li>
				<li>Площ в кв. м. : <span class="txtBold">600</span</li>
				<li>Брой входове : <span class="txtBold">2</span</li>
				<li>Етажи : <span class="txtBold">2</span</li>
				<li>Маза : <span class="txtBold">Да</span</li>
			</span>
			</div>
		<div class="borderMax">
			<img class="imgTop" src="https://virginiabuilders.com/wp-content/uploads/2017/08/Jackson-Hero-1600x700.jpg"/>
			<span class="newPrice">ТОП ПРЕДЛОЖЕНИЕ:<br /> <span class="priceColor1">390 000лв.</span></span>
		</div>
		<div class="textRight"> 
			<span class="oldPrice">ЦЕНА : <span class="priceColor">450 000.</span></span>
		</div>
			
	</div>
	<div class="TopPredlojenieto">
		<div class="textLeft">
			<span>
				Град: <span class="txtBold">София</span>
			</span>
			<br />
			<span>
				Улица: <span class="txtBold">Кристиан Бетовен 1</span>
			</span>
			<span>
				<br />
				Описание: 
				<li>Гаражи : <span class="txtBold">1</span></li>
				<li>Стай : <span class="txtBold">4</span</li>
				<li>Тераса : <span class="txtBold">Не</span</li>
				<li>Площ в кв. м. : <span class="txtBold">426</span</li>
				<li>Брой входове : <span class="txtBold">1</span</li>
				<li>Етажи : <span class="txtBold">2</span</li>
				<li>Маза : <span class="txtBold">Не</span</li>
			</span>
			</div>
		<div class="borderMax">
			<img class="imgTop" src="https://nh.rdcpix.com/cc65c5ae3618d911da2bd473606209ede-f437961140od-w480_h360_x2.jpg"/>
			<span class="newPrice">ТОП ПРЕДЛОЖЕНИЕ:<br /> <span class="priceColor1">290 000лв.</span></span>
		</div>
		<div class="textRight"> 
			<span class="oldPrice">ЦЕНА : <span class="priceColor">200 000.</span></span>
		</div>
			
	</div>
</div>
<hr id="lineHR"/>