@model DP.Models.Auth.DbCache

<div style="width: 100%; border: 2px solid green; position: sticky; top: 0; z-index:999 "></div>
<style>
    #btns1 {
        border-radius: 5px;
        transition: ease-in 0.55s;
        border: 1px solid transparent;
    }

        #btns1:hover {
            background-color: #e9ffe3;
            transition: ease-in 0.35s;
            transform: rotate(10deg);
            border: 1px solid green;
            border-top-color: transparent;
            border-right-color: transparent;
            border-left-color: transparent;
			border-radius:3px;
        }
</style>

<header style="height:fit-content; margin-bottom:3%">
	<div class="position-relative" style=" display: flex; height: 25px; margin-top: 0.5%">

		<div class="container" style="">
			<div class="row row-cols-auto">

				<div class="container position-absolute top-0 start-0 row row-cols-auto" style="display: flex;  border: 3px solid green; border-right-color: transparent; border-top-color: transparent; box-shadow: 1px 5px 5px 0px #a6a6a6 ">
					<div class="col " style="margin:0;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:2em;"><a href="/" style="text-decoration:none; color:black">Идеален <span style="color:green">Дом</span></a></div>
					<a href="/"><img class="col " src="https://i.ibb.co/qdQ0fjd/image.png" style="height:45px" /></a>
				</div>

				<div class="container position-absolute top-0 start-50 translate-middle-x row row-cols-auto" style="margin-top: 0.3%; border: 3px solid green; border-radius: 4px; border-top-color: transparent; border-bottom-color: transparent; box-shadow: 1px 5px 5px 1px #a6a6a6 ">
					<div id="btns1" class="col "><a class="nav-link active" aria-current="page" href="/" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700">Начало</a></div>
					<div id="btns1" class="col "><a class="nav-link" asp-controller="Offers" href="/Offers" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700">Оферти</a></div>
					<div id="btns1" class="col "><a class="nav-link" asp-area="" asp-controller="Top" href="/Top" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700">Топ Предложения</a></div>
					<div id="btns1" class="col "><a class="nav-link" asp-area="" asp-controller="About" href="/About" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700">За нас</a></div>
					<div id="btns1" class="col "><a class="nav-link" asp-area="" asp-controller="Contacts" href="/Contacts" style="color:black; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight:700">Контакти</a></div>
				</div>

				<!-- Register / Login -->
				@{
					string sessionId = Context.Request.Cookies["SessionId"];
					bool potentialEmpty = false;

					if (sessionId == string.Empty || !Model.sessions.Any(s => s.SessionId == sessionId))
					{
						potentialEmpty = true;
					}
					else
					{
						string email = Model.sessions.FirstOrDefault(s => s.SessionId == sessionId)?.Account?.Email;

						if (email != null)
						{
							potentialEmpty = false;

							// Logged-in user
							<div class="container row row-cols-auto position-absolute top-0 end-0" style="border: 3px solid green; border-radius: 4px; border-top-color: transparent; border-left-color: transparent; box-shadow: 1px 5px 5px 1px #a6a6a6; margin-top:0.3%; padding:0.2%; padding-right:1%">
								<div class="col "><a style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700; text-decoration: none; font-size: 1.15em">Здравейте, @email</a></div>
								<div class="col "><a href="/Auth/Logout " style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700; text-decoration: none; font-size:1.15em">Излез</a></div>
							</div>
						}
					}

					// Anonymous user
					if (potentialEmpty)
					{
						<div class="container row row-cols-auto position-absolute top-0 end-0" style="border: 3px solid green; border-radius: 4px; border-top-color: transparent; border-left-color: transparent; box-shadow: 1px 5px 5px 1px #a6a6a6; margin-top:0.3%; padding:0.2%; padding-right:1%">
							<div class="col "><a href="/Auth/Register" style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700; text-decoration: none; font-size: 1.15em">Регистрирай се</a></div>
							<div class="col "><a href="/Auth/Login " style="color: black; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: 700; text-decoration: none; font-size:1.15em">Влез</a></div>
						</div>
					}
				}
			</div>
		</div>
	</div>
</header>