<form method="post" action="CreateAccount">
	<div class="mb-3">
		<label for="exampleInputEmail1" class="form-label">Имейл адрес</label>
		<input type="email" class="form-control" id="exampleInputEmail1" name="email">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Парола</label>
		<input type="password" class="form-control" id="exampleInputPassword1" name="password">
	</div>
	<div class="mb-3">
		<label for="exampleInputPassword1" class="form-label">Повторете парола</label>
		<input type="password" class="form-control" id="exampleInputPassword1" name="repeatPassword">
	</div>
	<div class="mb-3 form-check">
		<input type="checkbox" class="form-check-input" id="exampleCheck1" name="isAdmin">
		<label class="form-check-label" for="exampleCheck1">Администраторски акаунт?</label>
	</div>
	<button type="submit" class="btn btn-primary">Създаване на акаунт</button>
</form>