<form method="post" action="RootLogin">
	<div class="mb-3">
		<input type="password" class="form-control" name="rootPassword">
	</div>
	<button type="submit" class="btn btn-primary">Влез</button>
</form>