@model DP.Models.Auth.DbCache

@{
	ViewData["Title"] = "За нас";
}

@{
    string sessionId = Context.Request.Cookies["SessionId"];

    bool potentialEmpty = false;

    if (sessionId == string.Empty || !Model.sessions.Any(s => s.SessionId == sessionId))
    {
        potentialEmpty = true;
    }
    else
    {
        bool isAdmin = Model.sessions.FirstOrDefault(s => s.SessionId == sessionId)?.Account?.Role == "Admin";

        if (isAdmin)
        {
            // Edit button here
             //<a href="#" class="btnEdit">✎</a>
        }
    }
}


<div id="backgroundMain">
    <div id="whyForU">
        <center>
            <span id="whyForUText">
                Идеален дом и неговата функционалност.
            </span>
        </center>
        <hr id="lineHR"/>
        <div id="moreInfoForU">
            <span id="firstForUtext">
                Нашата сфера и начина ни на представяне на имотите.
            </span>
            <br />
            <br />
            <span>
                “Идеален дом” е качественото решение, което търсите. Като доказан лидер в сферата, предлагаме разнообразни апартаменти, блокове, и др. услуги на високо ниво.
            </span>
            <br />
            <br />
            <span id="secondForUtext">
                Това, което ни отличава е, че държим клиента на първо място и полагаме специално внимание към всеки.
            </span>
            <br />
            <br />
            <span id="secondForUtext">
                Обадете се за безплатна консултация на 08887777666
            </span>
        </div>
        <div>
            <span>“Идеален Дом” е бърз, лесен и качествен начин за намиране на желания имот.</span>
            <br />
            <ul>
                <li class="txtBold">ПОСТОЯННА ОБРАТНА ВРЪЗКА</li>
                <span>Свържете се с нас чрез страницата "Контакти" която е 24/7 отворена за оферти и редакций.</span>
            </ul>
        </div>
        <hr id="lineHR"/>
    </div>
</div>