<form action="Login" method="post">
    <div id="boxContainer">
        <div id="borderReg">
            <label for="email">Имейл адрес</label>
            <br />
            <input type="email" id="email" name="email">
            <br />
            <label for="password">Парола</label>
            <br />
            <input type="password" id="password" name="password">
            <br />
            <label class="lblText"><input type="checkbox" id="remember" name="remember" class="chkbox1">Остани влязъл</label>

            <input type="submit" value="Вход" />
        </div>
    </div>
</form>