<form action="Login" method="post">
	<label for="email">Имейл адрес</label>
	<input type="email" id="email" name="email">

	<label for="password">Парола</label>
	<input type="password" id="password" name="password">

	<label for="remember">Остани влязъл</label>
	<input type="checkbox" id="remember" name="remember">

	<input type="submit" value="Вход" />
</form>