<form action="Register" method="post">
    <div id="boxContainer">
        <div id="borderReg">
            <label for="email">Имейл адрес</label>
            <br />
            <input type="email" id="email" name="email">
            <br />
            <label for="password">Парола</label>
            <br />
            <input type="password" id="password" name="password">
            <br />
            <label for="repeatPassword">Повторете парола</label>
            <br />
            <input type="password" id="repeatPassword" name="repeatPassword">
            <br />

            <label class="lblText"><input type="checkbox" id="remember" name="remember" class="chkbox1">Остани влязъл</label>
            <input type="submit" value="Регистрирай се" />
        </div>
    </div>
</form>