<form action="Register" method="post">
	<label for="email">Имейл адрес</label>
	<input type="email" id="email" name="email">

	<label for="password">Парола</label>
	<input type="password" id="password" name="password">
	
	<label for="repeatPassword">Повторете парола</label>
	<input type="password" id="repeatPassword" name="repeatPassword">

	<label for="remember">Остани влязъл</label>
	<input type="checkbox" id="remember" name="remember">

	<input type="submit" value="Регистрирай се" />
</form>