@model RootAdmin

@{
	ViewData["Title"] = "Internal admin page";
}

<div class="position-relative" style="margin-top: 20%">
	<form class="position-absolute top-50 start-50 translate-middle" method="post" asp-controller="InternalAdmin" asp-action="Authorize">
		<h3>Въведете администраторска парола</h3>
		<input type="password" class="form-control" asp-for="Password"/>
		<button type="submit" class="btn btn-primary position-relative start-50" style="margin-top: 2%; transform: translateX(-50%)">Влез</button>
	</form>
</div>