@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Welcomасдe</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.асдасдNET Core</a>.</p>
</div>
