@{
	ViewData["Title"] = "Начало";
}

<div class="ninjaMaker">
	<div class="spaceCrcl">
		<a class="btnCrcl" href="">asd</a>
	</div>
	<div class="spaceCrcl">
		<a class="btnCrcl" href="">asd</a>
	</div>
	<div class="spaceCrcl">
		<a class="btnCrcl" href="">asd</a>
	</div>
</div>