@{
	ViewData["Title"] = "Начало";
}

<div id="backgroundMain">
    <div id="whyForU">
        <center>
            <span id="whyForUText">
                ЗАЩО ПЕРФЕКТНИЯТ ДОМ Е РЕШЕНИЕТО ЗА ВАС
            </span>
        </center>
        <hr id="lineHR"/>
        <div id="moreInfoForU">
            <span id="firstForUtext">
                Ние сме доверена фирма за Професионално и Абонаментно почистване на територията на град Варна и Софияs
            </span>
            <br />
            <br />
            <span>
                “Перфектният Дом” ООД е качественото решение, което търсите. Като доказан лидер в сферата, предлагаме разнообразни почистващи услуги на високо ниво.
            </span>
            <br />
            <br />
            <span id="secondForUtext">
                Това, което ни отличава е, че държим клиента на първо място и полагаме специално внимание към всеки.
            </span>
            <br />
            <br />
            <span>
                Използваме модерно оборудване, екологични препарати и добре квалифициран персонал.
            </span>
            <br />
            <br />
            <span id="secondForUtext">
                Обадете се за безплатна консултация на 0883 255 222
            </span>
        </div>
    </div>
</div>