@{
	ViewData["Title"] = "Начало";
}
<div class="lineCross"></div>
<div class="ninjaMaker">
	<div class="spaceCrcl">
		<a class="btnCrcl" href="">
			ГОРЕЩИ ОФЕРТИ!
		</a>
	</div>
	<div class="spaceCrcl">
		<a class="btnCrcl" href="">
			Какво представляваме.
		</a>
	</div>
	<div class="spaceCrcl">
		<a class="btnCrcl" href="">
			Публикувай сега!
		</a>
	</div>
</div>