@{
	ViewData["Title"] = "Начало";
}
<div class="lineCross"></div>
<div class="ninjaMaker">
	<div class="spaceCrcl">
		<a class="btnCrcl" href="/Top">
			ГОРЕЩИ ОФЕРТИ!
		</a>
	</div>
	<div class="spaceCrcl">
		<a class="btnCrcl" href="/About">
			Какво представляваме.
		</a>
	</div>
	<div class="spaceCrcl">
		<a class="btnCrcl" href="/Contacts">
			Публикувай сега!
		</a>
	</div>
</div>
<hr id="lineHR"/>