@{
	ViewData["Title"] = "Начало";
}
<style>
    .durjach {
        justify-content: space-evenly;
        display: flex;
        height: fit-content;
        background-color: #edffee;
    }
</style>
<div class="durjach">
    <div class="container"  style="margin-right:8%">
        <div class="row">
            <div class="col">col</div>
            <div class="col">col</div>
            <div class="col">col</div>
            <div class="col">col</div>
        </div>
    </div>
</div>